@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default dark --dark;
  exclude: rootscrollgutter;
}

@custom-variant dark (&:where(.dark, .dark *));

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(0.9699 0.0013 106.42);
  --color-base-200: oklch(0.9232 0.0026 48.72);
  --color-base-300: oklch(0.8687 0.0043 56.37);
  --color-base-content: oklch(0.2686 0 0);
  --color-primary: oklch(0.596 0.1274 163.23);
  --color-primary-content: oklch(0.9699 0.0013 106.42);
  --color-secondary: oklch(61.302% 0.202 261.294);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(72.772% 0.149 33.2);
  --color-accent-content: oklch(0.9699 0.0013 106.42);
  --color-neutral: oklch(100% 0 0);
  --color-neutral-content: oklch(0.2686 0 0);
  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-content: oklch(0.9699 0.0013 106.42);
  --color-success: oklch(0.7729 0.1535 163.22);
  --color-success-content: oklch(0.9699 0.0013 106.42);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(0.9699 0.0013 106.42);
  --color-error: oklch(0.7106 0.1661 22.22);
  --color-error-content: oklch(0.9699 0.0013 106.42);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(96.99% 0.001 106.42);
  --color-primary: oklch(59.6% 0.127 163.23);
  --color-primary-content: oklch(96.99% 0.001 106.42);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(72.772% 0.149 33.2);
  --color-accent-content: oklch(96.99% 0.001 106.42);
  --color-neutral: oklch(23.26% 0.014 253.1);
  --color-neutral-content: oklch(96.99% 0.001 106.42);
  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-content: oklch(96.99% 0.001 106.42);
  --color-success: oklch(77.29% 0.154 163.22);
  --color-success-content: oklch(96.99% 0.001 106.42);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(96.99% 0.001 106.42);
  --color-error: oklch(71.06% 0.166 22.22);
  --color-error-content: oklch(96.99% 0.001 106.42);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

.validator-2 {
  &:user-invalid,
  &:has(:user-invalid),
  &[aria-invalid]:not([aria-invalid="false"]) {
    &,
    &:focus,
    &:checked,
    &[aria-checked="true"],
    &:focus-within {
      --input-color: var(--color-error) /* var(--color-error) */;
    }
    & ~ .validator-hint {
      visibility: visible;
      display: block;
      color: var(--color-error) /* var(--color-error) */;
    }
  }
}

.no-outline {
  --tw-outline-style: none;
  outline-style: none;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
  box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
    var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  &:focus {
    --tw-outline-style: none;
    outline-style: none;
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
      calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color, currentcolor);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow),
      var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }
}
